.btnTop {position: fixed;bottom: 40px;right: 0.2%;width: 50px;display: block;text-align: center;z-index: 9999;}
.btnTop a {display: block;height: 25px;padding: 0 0 5px;line-height: 28px;color: #111;}
      
.gnb {background: #fff;width: 100%;}
.gnb.fixed { position: fixed; top: 0; height:120px; animation: fadeInDown .3s ease-out forwards; background: #fff;    background: rgba(255,255,255,0.7);
    backdrop-filter: blur(8px);  color:#000; z-index:999;}
@keyframes fadeInDown {from {opacity:0;transform:translate3d(0,-120px,0);-webkit-transform:translate3d(0,-120px,0);}
to { opacity:1; transform:translate3d(0,0,0); -webkit-transform:translate3d(0,0,0); -webkit-font-smoothing:antialiased; }}


/* 스마트 배너(슬라이드) */

.visual {width:100%; margin:0 !important;}
.smart-banner-wrapper.square .bx-pager.bx-default-pager a {height:3px !important;background:#fff !important; opacity:1 !important;}
.smart-banner-wrapper.square .bx-pager.bx-default-pager a.active  {height:3px !important; background:#000 !important; opacity:1 !important;}

.videoArea { position: relative;width: 100%; height:600px; overflow:hidden; margin-top:100px !important;}

/* 움직이는 텍스트 */
.animated-title {font-size:60px; font-family:'Raleway',Sans-serif; font-weight:300; position: relative; width: 100%;max-width:100%; height: auto; padding:100px 0; overflow-x: hidden; overflow-y: hidden; }
.animated-title .track {position: absolute; white-space: nowrap;will-change: transform;animation: marquee 60s linear infinite; }
@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}
@media (hover: hover) and (min-width: 700px){
.animated-title .content {-webkit-transform: translateY(calc(100% - 8rem)); transform: translateY(calc(100% - 8rem));}
    }


/* 메인 배너 */
.main_section_banner {width:100%; height:500px; margin:80px 0;}
.main_section_banner > div { display:inline-block; float:left; }
.main_section_banner .left {width:60%; height:500px; background:url(/_moho/img/main/main-banner01.jpg); background-size:cover; background-position:center; border-radius:0 250px 250px 0;}
.main_section_banner .right {width:30%; padding:130px 0 0 150px;}
.main_section_banner .right h1 {font-size:100px;}
.main_section_banner .right p {font-size:18px;}
.main_section_banner .moho_btn_submit {padding:0; margin-top:50px;}




/* main 리뷰 */

/* 게시판 전체 공통 */
.xans-board-title .title { min-height:30px; margin:10px 0 20px; border-bottom:1px solid #e8e8e8; }
.xans-board-title .title h2 { display:inline-block; padding:0 0 0 12px; color:#2e2e2e; font-size:16px; *display:inline; *zoom:1; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_heading.gif") 0 2px no-repeat; }
.xans-board-title .title p { display:inline-block; margin:0 0 0 6px; padding:0 0 0 10px; color:#939393; vertical-align:bottom; background:url("http://img.echosting.cafe24.com/skin/base_ko_KR/common/ico_title.gif") no-repeat 0 0; *display:inline; *zoom:1; }
.xans-board-title p.imgArea { margin:0 0 20px; }

.xans-board-listpackage-1 .boardSort { float:left; margin:0 0 10px; }

/* 갤러리형 탭메뉴 */
ul.xans-board-listheader-1 { text-align:right; margin:0 0 10px; }
ul.xans-board-listheader-1 li { display:inline; }


/* list */
.xans-board-listpackage-1 { margin:0 0 20px; }

/* 공지글 */
.xans-board-listpackage-1 .notice { margin:0 0 20px; border:1px solid #d7d5d5; border-bottom:0; clear:both; }
.xans-board-listpackage-1 .xans-board-notice-4 li { overflow:hidden; padding:15px; border-bottom:1px solid #d7d5d5; color:#757575; }
.xans-board-listpackage-1 .xans-board-notice-4 li .description { padding:15px 0 0 205px; line-height:18px; }
.xans-board-listpackage-1 .xans-board-notice-4 li .description .subject { margin:0 0 30px; padding:0 0 10px; border-bottom:1px solid #d7d5d5; color:#000; }
.xans-board-listpackage-1 .xans-board-notice-4 li .description .subject a { font-weight:bold; }
.xans-board-listpackage-1 .xans-board-notice-4 li .description .subject img { vertical-align:middle; }
.xans-board-listpackage-1 .xans-board-notice-4 li .description strong { font-weight:normal; font-size:11px; }
.xans-board-listpackage-1 .xans-board-notice-4 li .description em { display:block; font-style:normal; font-size:11px; }
.xans-board-listpackage-1 .xans-board-notice-4 li:after { content:""; display:block; clear:both; }
.xans-board-listpackage-1 .xans-board-notice-4 .imgLink { float:left; }
.xans-board-listpackage-1 .xans-board-notice-4 .imgLink img { width:187px; border:1px solid #ececec; display:block; }
 
/* 고정글 */
.xans-board-listpackage-1 .xans-board-fixed-4 li { overflow:hidden; padding:15px; border-bottom:1px solid #d7d5d5; color:#757575; }
.xans-board-listpackage-1 .xans-board-fixed-4 li .description { padding:15px 0 0 205px; line-height:18px; }
.xans-board-listpackage-1 .xans-board-fixed-4 li .description .subject { margin:0 0 30px; padding:0 0 10px; border-bottom:1px solid #d7d5d5; color:#000; }
.xans-board-listpackage-1 .xans-board-fixed-4 li .description .subject a { font-weight:bold; }
.xans-board-listpackage-1 .xans-board-fixed-4 li .description .subject img { vertical-align:middle; }
.xans-board-listpackage-1 .xans-board-fixed-4 li .description strong { font-weight:normal; font-size:11px; }
.xans-board-listpackage-1 .xans-board-fixed-4 li .description em { display:block; font-style:normal; font-size:11px; }
.xans-board-listpackage-1 .xans-board-fixed-4 li:after { content:""; display:block; clear:both; }
.xans-board-listpackage-1 .xans-board-fixed-4 .imgLink { float:left; }
.xans-board-listpackage-1 .xans-board-fixed-4 .imgLink img { width:187px; border:1px solid #ececec; display:block; }

/* 일반글 */
.xans-board-listpackage-1 .xans-board-list-4 { clear:both; overflow:hidden; }
.xans-board-listpackage-1 .xans-board-list-4 ul { width:100%; min-width:756px; margin:-20px 0 0; font-size:0; line-height:0; }
.xans-board-listpackage-1 .xans-board-list-4 li { display:inline-block; *display:inline; *zoom:1; width:20%; margin:20px 0 40px 0; font-size:12px; color:#757575; line-height:18px; vertical-align:top; }
.xans-board-listpackage-1 .xans-board-list-4 li .imgLink img { display:block; width:187px; height:255px; margin:0 auto 10px; border:1px solid #ececec; }
.xans-board-listpackage-1 .xans-board-list-4 li .boardChk { display:block; margin:0 auto 10px; }
.xans-board-listpackage-1 .xans-board-list-4 li a.imgLink,
.xans-board-listpackage-1 .xans-board-list-4 li a.imgLink:hover { display:block; width:189px; margin:0 auto; color:#2e2e2e; }
.xans-board-listpackage-1 .xans-board-list-4 li span { display:block; margin:15px auto 0; width:189px;}
.xans-board-listpackage-1 .xans-board-list-4 li strong { font-weight:normal; font-size:11px; }
.xans-board-listpackage-1 .xans-board-list-4 li em { display:block; font-style:normal; font-size:11px; }
.xans-board-listpackage-1 .xans-board-buttonlist-1 { padding:15px 20px 15px 0; background-color:#fbfafa; border:1px solid #d7d5d5; text-align:right; }

/* 게시글 없음, 검색결과없음 */
.boardListEmpty { padding:0 0 20px; text-align:center; }



/* 메인 섹션 */
.main_section {width:100%; height:auto; padding:200px 0; margin:100px auto; background:url(/_moho/img/main/main_back1.jpg);background-attachment:fixed;  background-size:cover; background-position:center; background-repeat:no-repeat;}
.main_section .inner {background:rgba(255,255,255,1);   width:600px; height:400px;  margin:0 auto; text-align:center;}
.main_section .inner .text {padding-top:120px}
.main_section .inner .text h1{font-size:25px; font-weight:500; padding-bottom:20px;}
.main_section .inner .text p {font-size:15px !important;}


/* 신상품 리스트 */
.xans-product-relationlist, 
.xans-product-listnormal, 
.xans-product-listnew, 
.xans-product-listrecommend, 
.xans-product-listmain {width:100% !important;}

.ec-base-product ul.grid3 {width:calc(100% + 40px ) !important; transform:translateX(-20px)}
.ec-base-product ul.grid3 > li { padding:20px; }
.ec-base-product ul.grid3 li .thumbnail, .ec-base-product ul.grid3 li .description {width:100% !important;}


.mainSlide img { width:100%; } 
.mainSlide a {  line-height: 0; }

/* 배너3종 */

.card .content .title {font-family:'raleway', San-serif !important; font-weight:500; }
.card .content .copy {font-size:15px; font-weight:300;}
.card .content .btn {font-size:16px;}

/* 상품 슬라이드 */
/* swiper */
.swiper-container { position:relative; overflow:hidden; z-index: 1; width: 100%; margin-left: auto; margin-right: auto; }
.swiper-wrapper { position: relative; width: 100%; height: 100%; z-index: 1; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;-webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -o-transition-property: transform; transition-property: transform;transition-property: transform,-webkit-transform; box-sizing: content-box; }
.swiper-container-android .swiper-slide, 
.swiper-wrapper { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
.swiper-slide { position: relative; -webkit-flex-shrink: 0; -ms-flex-negative: 0; flex-shrink: 0; width: 100%; height: 100%; text-align: center; font-size: 18px; background: #fff; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; -webkit-justify-content: center; justify-content: center; -webkit-box-align: center;-ms-flex-align: center; -webkit-align-items: center; align-items: center;
-webkit-transition-property: -webkit-transform; transition-property: -webkit-transform; -o-transition-property: transform; transition-property: transform; transition-property: transform,-webkit-transform;
}
.swiper-container-fade .swiper-slide { pointer-events: none; -webkit-transition-property: opacity;-o-transition-property: opacity; transition-property: opacity; }
.swiper-container-fade .swiper-slide-active, 
.swiper-container-fade .swiper-slide-active .swiper-slide-active { pointer-events: auto; }
.swiper-control{ position: absolute; bottom:70px; z-index: 100; width:100%; height:10px; text-align: center; overflow:hidden; margin: 0 auto; box-sizing:border-box; }
.swiper-button-next, .swiper-button-prev {  position: absolute;  top: 50%; margin-top: -22px; z-index: 10;cursor: pointer;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next { left: 10px; right: auto;}
.swiper-button-prev, .swiper-container-rtl .swiper-button-next,
.swiper-button-next, .swiper-container-rtl .swiper-button-prev { overflow: hidden; width: 40px; height: 40px; line-height: 0; text-indent: -150%; white-space:nowrap; font-size: 1px; color:transparent; line-height:1px; border-width: 1px 1px 0 0; border-style: solid; border-color: #fff; }
.swiper-button-prev, .swiper-container-rtl .swiper-button-next{ transform: rotate(-135deg); }
.swiper-button-next, .swiper-container-rtl .swiper-button-prev{ transform: rotate(45deg);}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled { opacity: .35;cursor: auto;  pointer-events: none;}
.swiper-pagination { position: relative; display: inline-block; height:10px; margin: 0 10px; text-align: center;  -webkit-transition: .3s opacity;-o-transition: .3s opacity;transition: .3s opacity; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); z-index: 10; }
.swiper-button-pause,.swiper-button-play {position: relative; z-index: 10; display: inline-block; width:10px; height: 10px; text-indent: -150%; white-space:nowrap; font-size: 1px; line-height:1px; color:transparent; overflow: hidden; vertical-align:top; }
.swiper-button-pause:before,
.swiper-button-pause:after { content:""; position:absolute; top:0; display:inline-block; width:2px; height:10px; background:#fff; }
.swiper-button-pause:before {left:1px; }
.swiper-button-pause:after { right:1px; }
.swiper-button-play { display:none; width:0; height:0; border-top:5px solid transparent; border-left:8px solid #fff; border-bottom:5px solid transparent; }
    .swiper-control.on .swiper-button-play {display: inline-block; }
    .swiper-control.on .swiper-button-pause {display: none; }
.swiper-pagination-bullet { width: 8px; height: 8px; display: inline-block;  border-radius: 100%; background: #000; opacity: .2; vertical-align:top; }
.swiper-pagination-bullet-active { opacity: 1; background: #fff; }
.swiper-container-horizontal .swiper-pagination-bullets .swiper-pagination-bullet {margin: 0 7px; background: #fff;}
.swiper-container .swiper-notification { position: absolute; left: 0;  top: 0; pointer-events: none; opacity: 0; z-index: -1000; }
.swiper-scrollbar { position: relative; border-radius: 10px; -ms-touch-action: none; background: rgba(0,0,0,.1); }
.swiper-container-horizontal > .swiper-pagination-progressbar {bottom: 0; top: initial; height: 1px; }
.swiper-container-horizontal > .swiper-scrollbar { position: absolute; left: 1%; bottom: 3px; z-index: 50; width: 100%; height: 1px; }
.swiper-scrollbar-drag { position: relative; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0,0,0,.5); border-radius: 10px; }

.item-wrapper .ec-base-product { max-width: 670px; width: calc(100% - 570px); padding: 0 33px; box-sizing: border-box;}

    .productItem { max-width:1240px; margin:95px auto 0; }
    .productSlide{ position:relative; max-width:1240px; margin:95px auto; padding: 50px 0;}
    .productSlide .mainTitle { position:absolute; top:0; left:0; width:100%; }
    .item-wrapper{ display: flex; margin: 54px 0;}
    .item-wrapper > div{flex: 1;}
	.item-wrapper .swiper-container { width:100%; padding:0 40px; box-sizing:border-box; }
    .item-wrapper .ec-base-product { max-width:670px; width:calc(100% - 570px); padding:0 33px; box-sizing:border-box; }
    .item-wrapper .ec-base-product .prdList .thumbnail { margin:0 0 10px; }
    .item-wrapper .swiper-container:before,
    .item-wrapper .swiper-container:after { content:""; display:block; width:40px; height:100%; position:absolute; top:0; bottom:0; right:0; background:#fff; z-index:1; }
    .item-wrapper .swiper-container:before { left:0; z-index:2; }
        .swiper-container-horizontal > .swiper-scrollbar { left:40px; right:40px; width:auto; }
        .swiper-button-next, .swiper-container-rtl .swiper-button-prev { right:0; }
        .swiper-button-prev, .swiper-container-rtl .swiper-button-next { left:0; }
    .productSlide.gSpecial .item-wrapper { flex-direction: row-reverse; }

.productSlide { text-align:center;position: relative; max-width: 1240px; margin: 95px auto; padding: 50px 0;}
.productSlide.gSpecial .banner { position:relative; display:flex; align-items:center; justify-content:center; }
.productSlide.gSpecial .banner video { position: absolute; top:0; bottom:0; left:0; width: 100%; margin:auto 0; }
.productSlide.gSpecial .back { width:100%; }
.ec-base-product .prdList li.swiper-slide .description {margin-bottom: 40px;}
.item-wrapper .banner img{width: 100%;}
.item-wrapper .banner a:hover{text-decoration:none;}
.item-wrapper .ec-base-product{margin: 0; }
.item-wrapper .ec-base-product .prdList{margin: 0}
.item-wrapper .ec-base-product .prdList > li {margin: 0}
.item-wrapper .swiper-button-prev, .item-wrapper .swiper-container-rtl .swiper-button-next,
.item-wrapper .swiper-button-next, .item-wrapper .swiper-container-rtl .swiper-button-prev {width: 30px; height: 30px; border-color: #7d7d7d; }
.item-wrapper .swiper-button-prev {left: 6px;}
.item-wrapper .swiper-button-next {right: 6px;}


