@charset "UTF-8";
*{margin: 0; padding: 0; box-sizing: border-box;}
ul,ol,li{list-style: none;}

/*swiper*/
.swiper{
}
.swiper .swiper-wrapper{}
.swiper .swiper-wrapper .swiper-slide{}
.swiper-slide img{
  width: 100%;
  /* max-width: 100%; 원래 이미지 크기 이상되지 말라 */
  height: auto;
}
/*가변이미지*/